header {
  height: 50px;
  width: 100vw;
}
main {
  height: 100%;
  display: flex;
}
.sidenav {
  position: relative;
  left: 0;
  width: 30vw;
  height: 100%;
}
.content {
  position: relative;
  width: 70vw;
  padding: 20px;
  height: 100%;
}
